* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(217, 253, 253);
}
.item {
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin-top: 10px;
    margin-left: 10px;
}
.conteudo {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    align-items: center;
}
.meu-site {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas: 
     "menu menu menu"
    "lado principal principal"
    "rodape rodape rodape"
    ;
}
.menu {
    height: 10vh;
    background-color: aquamarine;
    grid-area: menu;
}
.lado{
    height: 80vh;
    background-color: rgb(0, 255, 255);
    grid-area: lado;
}

.principal {
    height: 80vh;
    background-color: rgb(40, 176, 255);
    grid-area: principal;
}
.rodape {
    height: 10vh;
    background-color: rgb(5, 157, 207);
    grid-area: rodape;
}
