*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.item{
    width: 100px;
    height: 100px;
    background-color: yellow;
    margin-top: 10px;
    margin-left: 10px;
}
.conteudo{
    display: grid;
 grid-template-columns: 20% 20% 20% 20% ;
 justify-content: center;    
}
.meu-site{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas:
     "menu menu menu" 
     "lado principal principal"
     "rodape rodape rodape"
    ;
}
 .menu{
    height: 10vh;
    background-color: darkblue;
    grid-area: menu;
 
 }
 .lado{
    height: 80vh;
    background-color: rgba(0, 0, 255, 0.897);
     grid-area: lado;
 }
 .principal{
    height: 80vh;
    background-color: rgba(40, 8, 219, 0.836);
    grid-area: principal;
 }
 .rodape{
    height: 10vh;
     background-color: rgba(6, 22, 252, 0.801);
     grid-area: rodape; 
     
 }
