* {
    padding: 0;
    margin: 0;
}
.menu {
    width: 100%;
    height: 60px;
    background-color: salmon;
}
.conteudo-musica {
    width: 100%;
}
.rodape {
    width: 100%;
    background-color: rgb(188, 204, 221);
    text-align: center;
}
.desc-estilo {
    width: 100%;
    background-color: tan;
}

/*You're now entering: SoloCity, enjoy your stay!*/

.desc-solo {
    width: 100%;
    background-color: teal;
}
.desc-grupoS {
    width: 100%;
    background-color: tan;
}
.desc-bandaS {
    width: 100%;
    background-color: teal;
}
.desc-appS {
    width: 100%;
    background-color: tan;
}
.img-s {
    width: 1200px;
    height:600px;
}
/*You're now leaving: SoloCity, not a fan of fertilizer are you? Weak.*/

/*You're now entering: ROCKCity, do not make geology related puns, we've heard it before.*/
.desc-ROCK {
    width: 100%;
    background-color: teal;
}
.desc-grupoR {
    width: 100%;
    background-color: tan;
}
.desc-bandaR {
    width: 100%;
    background-color: teal;
}
.desc-appR {
    width: 100%;
    background-color: tan;
}
.img-R {
    width: 100%;
}
/*You're now leaving: ROCKCity, we hope a rock gets inside your shoe.*/



.img-2 {
    width: 100%;
}
.img-3 {
    width: 100%;
}



.img-mobile{
    width: 100%;
}

/*Que isso prof? explica pfv.*/
@media screen and (min-width: 768px) {
    .menu {
        height: 120px;
        background-color: blueviolet;
        color: #FFF;
        font-size: 32px;
    }
    .desc-solo {
        display: flex;       
    }

}

@media screen and (min-width: 1280px) {
    .menu {
        height: 200px;
        background-color: rgb(121, 177, 121);
        font-size: 64px;
    }
    .img-ini {
        width: 50%;
    }
    .desc-solo {
        display: grid;
    }
}

/*eu to cansado, so vo checar o codigo dps.*/
:root{
    --fundo: rgba(255, 208, 0, 0.863);
    --fonte: rgb(0, 0, 0);
    --hover: rgb(46, 45, 1);


}
body{
    background-color: rgba(245, 169, 6, 0.822);
}
a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}
.header{

    background-color: var(--fonte);
    width: 100%;
    position: sticky;
    top: 0;

}
.logo{
    display: inline-block;
   color: var(--fundo);
   font-size: 32px;
  
}
#logo{
  height: 10vh;

}
.sites{
    display: inline
}
/*^ com isso, eu durmo.*/
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--fundo);
    overflow: hidden;
}
.menu2 a{
    display: inline;
    padding: 10px;
    color: var(--fonte);
    
}
.menu2 a:hover{
    background-color: var(--hover);
}
.nav{
    max-height: 0;
    transition: max-height .1s ease-out;
}
.hamburger{
    cursor: pointer;
    float: right;
    padding: 35px 20px;
}
.hamb-line{
    background: var(--fonte);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

}
.hamb-line::before,
.hamb-line::after{
    background: var(--fonte);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.side-menu{
    display: none;
}
.side-menu:checked ~ nav{
 max-height: 100%;
}

.side-menu:checked ~ .hamburger .hamb-line{
    background: transparent;
}
.side-menu:checked ~ .hamburger .hamb-line::before{
    transform: rotate(-45deg);
    top: 0;
}
.side-menu:checked ~ .hamburger .hamb-line::after{
    transform: rotate(+45deg);
    top: 0;
}


.img-ini{
    width: 100%;
}
@media screen and (min-width: 768px){
   .nav{
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
   }
   .menu{
    float: left;
   }
   .menu a:hover{
    background-color: transparent;
    color: var(--hover);
   }
   .hamburger{
    display: none;
   }
   #logo{
    width:25vh;
    height: 25vh; 
    

   }
    }
